@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.container{
    max-width: 100%;
    height: auto;
}

.banner-bg{
       background-image: url(resources/Banner\ Image.png);
       width: 100%;
       height: 600px;
       
}
.gradient-1{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    height: 600px;
    width: 100%;
}

.banner{
    position: absolute;
    top: 35%;
    left: 25%;
    color: white;
    text-align: center;
    width: 600px;
}
.banner-text{
    font-size: 30px;
    margin-bottom: 15px;
}
.banner-head{
    font-size: 70px;
    font-weight: bold;
}
.section-one{
    text-align: center;
    margin-top: 100px;
}
.section-one--content{
    font-size: 90px;
    font-weight: bold;
    color: red;
    margin-bottom: 30px;
}
.section-one--text{
    font-size: 25px;
    color: red;
    font-weight: 500;
    margin-bottom: 20px;
}
.section-one--head{
    font-size: 48px;
    margin-bottom: 50px;
}
.section-two{
    margin-top: 100px;
    background-image: url(resources/Vectorrr.png);
    width: 100%;
    height: 600px;
    color: white;
    position: relative;
}
.gradient-2{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    height: 600px;
    width: 100%;
}

.section-two--left{
    max-width: 600px;
    position: absolute;
    top: 30%;
    left: 10%;
}
.section-two--right{
    position: absolute;
    top: 20%;
    right: 10%;
}
.section-two--head{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-two--text{
    font-size: 18px;
    margin-bottom: 30px;

}
.section-two--btn{
    padding: 10px 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background: transparent;
    border: none;
    color: white;
}
.section-three{
    margin-top: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 500px;
    width: 100%;
    text-align: center;
    position: relative;

}
.section-three--content{
    position: absolute;
    top: 40%;
    left: 30%;
}

.section-three div{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}
.section-three span{
    color: red;
    margin-right: 10px;
}
.section-three--btn{
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
}

.section-four{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 50px;
}


.section-four--left-content{
    font-size: 24px;
    color: red;
    font-weight: 500;
}
.section-four--left-head{
    font-size: 50px;
    font-weight: bold;
    margin: 15px 0;
}
.section-four--left-text{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    
}
.section-four--right-head{
    color: red;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 100px;

}
.section-four--right-text{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}
.section-four--center{
    border: 30px solid transparent;
    border-radius: 50%;
    outline: 15px solid red;
}
.section-five{
    text-align: center;
    margin-top: 150px;
    position: relative;
}
.section-five--contents{
    margin-top: 200px;
}
.section-five--content{
    font-size: 24px;
    font-weight: 500;
}
.section-five--head{
    margin: 20px;
    font-size: 70px;
    font-weight: bold;
}
.section-five--head span{
    color: red;
}
.section-five--text{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    
}
.section-five-images{
    margin-top: 150px;
   max-width: 100%;
    min-height: 600px;

}
.section-five--img-1{
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.section-five--img-2{
    position: absolute;
    bottom: 24%;
    right: 0;
}
.section-five--img-3{
    position: absolute;
    bottom: 20px;
    left: 0;
}
.section-five--img-4{
    position: absolute;
    top: 40%;
}
.section-six{
    margin-top: 150px;
    text-align: start;
    max-width: 100%;
}
.section-six--contents{
    margin-bottom: 50px;
}
.section-six--content{
    font-size: 25px;
    color: red;
    font-weight: 500;
}
.section-six--head{
    font-size: 50px;
    font-weight: bold;
    margin: 15px 0;
}
.section-six--text{
    width: 900px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.section-six--images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.section-six--img{
    height: 400px;
    width: 400px;
}

.section-six--img:hover{
    cursor: pointer;
    animation: animate  linear 0.7s 0.05s  ;
 
}

@keyframes animate{
    0%{transform: scale(0);  }
    25%{transform:scale(0.25) ; }
    50%{transform: scale(0.5); }
    75%{transform:  scale(0.75);  }
    100%{transform:  scale(1);  }
}
.section-seven{
    margin-top: 150px;
    height: 600px;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.05);
    text-align: center;

}
.section-seven--img{
    margin-top: 100px;
}
.section-seven--head{
    margin: 40px 0 20px 0;
    font-size: 50px;
    font-weight: bold;
}
.section-seven--text{
    margin: auto;
    width: 900px;
    color: rgba(0, 0, 0, 0.6);

}
.section-seven--inputs{
    margin-top: 40px;
     position: relative;
}
.section-seven input{
    position: absolute;
    left: 25%;
    height: 70px;
    width: 650px;
    border: none;
    border-radius: 50px;

   
}
.section-seven  input::placeholder{
    position: absolute;
    left: 10%;
}

.section-seven--btn{
    position: absolute;
    right: 23.5%;
    width: 200px;
    height: 70px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: px;
    text-align: center;
    border: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
}

footer{
    margin-top: 100px;
    height: 600px;
    background-color: black;
    display: flex;
    flex-direction: column;
  
    
}

.info{
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
    position: relative;

}
address{
    margin-top: 120px;
    margin-left: 100px;

}
address p{
    margin: 10px;
}

.contact{
    margin-top: 120px;
    margin-right: 150px;
    
}

.contact img{
    height: 24px;
    width: 24px;
   margin-right: 10px;
    
}
.number{
    display: flex;
    align-items: center;
}
.number span{
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.link{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.link a{
    line-height:40px ;
    text-decoration: none;
    color: white;
    font-size: 24px;
}
.icon{
   margin-left: 35%;
   margin-top: 50px;
}
.icon img{
    margin: 10px;
}
.copyright{
    margin: 100px 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 300px;
    font-size: 24px;
    font-weight: 500;
}

.copyright button{
    color: white;
    font-weight: 500;
    border: none;
    font-size: 26px;
    height: 30px;
    width: 140px;
    background: transparent;
    cursor: pointer;
}
